<!DOCTYPE html>

<html>

<body translate="no">
	<meta charset="UTF-8">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap" rel="stylesheet">
	<link href="style.css" rel="stylesheet" type="text/css">


	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h1 class="d-flex justify-content-center mt-2">Timestamp Microservice</h1>
			</div>
			<hr/>
		</div>

		<div class="row d-flex justify-content-center">
			<div class="col-5 mt-5">
				<h2 class="d-flex justify-content-center">About</h2>
				<p class="d-flex justify-cotent-center" id="description">A full stack microservice developed with JavaScript and Node.js.
					Takes a URL ending in a date with a standard format (e.g. 2015-10-12) or in milliseconds (e.g 1451001600000), and returns
					the date and time in a unix and utc key within a json object. </p>
			</div>
		</div>



		<div class="row">
			<div class="col-12 mt-5">
				<h2 class="d-flex justify-content-center">Examples</h2>
				<a href='https://boilerplate-project-timestamp-1.av1124.repl.co/api/2015-10-12' class="d-flex justify-content-center">https://boilerplate-project-timestamp-1.av1124.repl.co/api/2015-10-12</a>
			</div>
		</div>

		<div class="row">
			<div class="col-12 d-flex justify-content-center mt-2">
				<a href='https://boilerplate-project-timestamp-1.av1124.repl.co/api/1451001600000'>https://boilerplate-project-timestamp-1.av1124.repl.co/api/1451001600000</a>
			</div>
		</div>

		<div class="row">
			<div class="col-12 mt-5">
				<h2 class="d-flex justify-content-center">Sample Output</h2>
				<code class="d-flex justify-content-center">{"unix":1444608000000,"utc":"Mon, 12 Oct 2015 00:00:00 GMT"}</code>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-5">
      <p>By: Ali Virani</p>
    </div>
  </div>

</div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js'></script>
  
  

</body>
</html>